*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
body{
    padding-top: 110px;
}

.navbar{
    width: 100vw;
    position: fixed;
    height: 65px;
    top:0px;
    background-color:#0f1111;
    display: flex;

    align-items: center;
    justify-content: space-evenly;
    color: #000;

}
.navlogo{
    width: 100px;
    
}
.logo{
    background-image: url("log.jpeg");
    height: 58px;
    background-size: cover;

    width: 100px;

}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
.nav-address{
    color: aliceblue;
}

/* box2 */
.nav-address{

}
.add-first{
    margin-left:15px;
    padding-left: 1.3rem;
    font-size: 0.8rem;
    padding-top: 10px;
}
.add-second{
      margin-left:15px;
    font-size: 1.5rem;
}
.add-icon{
    display:flex;
    
 
}

.nav-search{
    margin-left:15px;
    height: 40px;
   display: flex;
    width:620px;
 justify-content: space-evenly;
   align-items: center;
   background-color: #0f1111;
  
    
    
}
.search-icon{
 width: 45px;   
 height: 40px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 
    background-color: rgb(154, 154, 85);
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 1.3rem;
    color: #000;
}
.search-icon i{
    
    align-self: center;
}

.search-place{
    font-size: 1rem;
    width:100%;
    border: none;
    border: none;
    height: 40px;
}
.search-place input{
    height:100%; 
    width: 100%;

}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    height: 40px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
    


}
.search-select select{
    height: 100%;
    border: none;
}
.border7:hover{
 border:orange 2px solid;   
}

/* box4 */
.nav-signin{
    
    color: white;
}
span{
    font-size: 0.7rem;

}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}



/* box5 */
.cart{
    display: flex;
 justify-content: space-around;
    
 color: #ffffff;
}
.cart-icon i{
    height: 100%;
    font-size: 35px;
}
.cart-cart{
    align-self: flex-end;
}
main{
    padding-top: 110px;
    background-image: url(h);
}
.panel{
    width: 100vw;
    position: fixed;
    top:65px;
    display: flex;
    flex-direction: row;
   color: #f3f3f3;
    height: 45px;
    background-color: #222f3d;
   
}
.panel-all{

    width: 8vw;
    display: flex;
    font-weight:700;
    justify-content: center;
    align-items: center;
}
.panel-icon i{
    font-weight: 700;

}
.panel-links{
    
    width:60%;
    display: flex;
    
    justify-content:flex-start;
}
.panel-links a{
    align-self: center;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    margin-right: 3%;
}
.panel-last{
    text-align: center;
    font-weight: 700;
    align-self: center;
}
body{
    padding-top: 110px;
}

.hero-section{
    background-image: url("WhatsApp\ Image\ 2025-12-15\ at\ 15.56.03.jpeg");
    
    height:80vh ;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
    
}
.hero-message{
    text-align: center;
    font-weight: 700;
    font-size: larger;
    position: relative;
    top:550px;
    
    font-size: larger;
    background-color: white;
    height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
    border: solid transparent;
    border-radius: 2px;    

}
.hero-message a{
    text-decoration: none;
    color: #007185;
}
.shop{
display: flex;
flex-direction: row;
justify-content: space-evenly;
flex-wrap: wrap;
background-color: #e2e7e6;
}
.box{
    width: 20vw;
    border:2px solid black; 
    color: #000;
    background-color: white ;
    height: 45vh;
    padding-left: 1.5%;
    padding-right: 1.5%;
}
.Box-add{
    height: 15%;
    
}
.Box-heading{
    height: 10%;;
}
.Box-add a{
    text-decoration: none;
    color: rgb(72, 102, 116);
}
.Box1-image{
    background-image: url("Box1.jpeg");
    background-size: cover;
    height: 80%;
}